<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css">
	<title>About page</title>
</head>
<body>
	<h1> About</h1>
	<p1>Katerina Gogou (1940-1993) was a Greek anarchist poetess who is a representative figure of the ‘80s radical political and cultural scene of Exarchia. 
		The impact of her poems, lately rediscovered and taken into consideration by the mainstream media, has always been influential in the radical movement.
		Katerina was born in Athens in 1940 and the first years of her life were marked by the famine and the Nazi occupation, the resistance and the civil war. 
		The defeat of the communists was followed by a period of strict censorship, police terror and island camps for political prisoners. 
		Gogou finished high school and she started her parcours artistique following some drama and dance courses. 
		The only place she could make a living as an actress, was in the Greek comedy industry, a major factor in social reproduction of capitalist and patriarchal values at the time. 
		The roles assigned to her were those of the naive domestic servant, the silly little sister or the undisciplined school pupil. 
		Despite this, Katerina developed a critical view of society, diverging not only from its progressive conformism but also from its conformist progressivism.
		At the end of the ‘70s, Greek society experienced substantial changes and radicalization with an autonomous factory workers movement as well as factory and university occupations. 
		It was in this period that she was writing her early poems. Her writings are a mirror of the marginalized parts of the society of the time, taking the side of drug addicts, prostitutes, criminals, homosexuals, the homeless and immigrants.
		In 1978 Gogou published her first collection of poems, Three Clicks Left. At the same time she reengaged in cinema, this time as a protagonist in critical and intellectual movies. 
		The first two of them were directed by her husband, Pavlos Tassios, with whom she had her only daughter, Myrto, while the third movie was directed by Andreas Thomopoulos.In 1980 her second poetic collection, Sui generis was published. 
		The title of the collection referred to the Greek law no.410/1976 which fortified the regime against protesters, strikes and political dissents. In 1982 Katerina wrote The Wooden Coat and four years later she published the collection Absentees.
		Her poetry started getting more and more personal, reflecting the early period of her drug addiction and personal anguish. At that time the social democratic government was absorbing the radicalization of the previous years with people exchanging their militant past for positions in the new state of affairs. In the meanwhile heroin began to circulate among the people that could not find their place in that society. The Return Journey was Katerina’s last book in life, published in 1990.
		Katerina Gogou committed suicide in 1993 by taking an overdose of pills and alcohol.
		
		 </p1>
		 <iframe width="461" height="340" src="https://www.youtube.com/embed/zeL39hntE74?list=RDEM0FuczX8zH4_9Zd2vrzONrw" title="Εντροπία - 25 Μαίου (ποίηση Κατερίνας Γώγου)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" ></iframe>
	<img src="" alt="">
	<a href="/">Home</a>
	<a href="/work"> Work </a>
</body>
</html>
