<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css">
	<title>Homepage</title>
</head>
<body>
	<h1>Katerina Gogou</h1>
    <img  id="kat" src="https://734blackink.files.wordpress.com/2019/10/katerina_gogou_2.jpg" alt="">
	<a href="/about"> About </a>
	<a href="/work"> Work</a>

	
	<script src="/public/javascript/script.js"></script>
</body>
</html>

