<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css">
	<title> Workpage</title>
</head>
<body>
	<h1> Poems</h1>
	<h2>MAY 25</h2>
	<p2>One morning I’ll open the door
		and go out into the street
		like yesterday
		And I won’t think of anything but
		a bit of my father
		and a bit of the sea — all that has left me —
		and the city. The city they wasted.
		And our lost friends.
		I’ll open the door one morning
		like yesterday and go straight
		into the fire
		shouting “fascists!!”
		raising barricades and throwing stones
		with a red flag
		lofty and shining in the sun.
		I’ll open the door — not that I’m scared
		but I want to tell you I didn’t make it
		and you have to learn
		you shouldn’t go into the street
		without arms, like me
		— because I didn’t make it —
		otherwise you’ll be lost like me
		a “who cares” a “has been”
		broken into pieces
		by the sea, childhood
		and red flags.
		One morning
		I’ll open the door
		and lose myself
		in the dream of revolution
		with the vast loneliness
		of streets that’ll be burning
		with the immense loneliness
		of paper barricades
		with the label — don’t believe them —
		Provocateur.</p2>
		<h2>My own friends are </h2>
		<p3>My own friends are blackbirds
			who play see-saw on roofs of crumbling houses
			Exarchia, Patisia, Metaxurgio, Metz.
			They do whatever comes along.
			Peddlers of cookbooks and encyclopedias
			they build roads and connect deserts
			barkers for Zinonos Str. dives
			professional rebels
			cornered in the old days and forced to drop their pants
			now they swallow pills and alcohol to sleep
			but they have dreams so they don’t sleep.
			My own women-friends are taut wires
			on roof terraces of old houses
			Exarchia, Victoria, Koukaki, Ghizi.
			You’ve pinned on them a million steel clothes’ pins
			your guilt, party-meeting decisions, borrowed dresses
			cigarette burn-marks, strange headaches
			threatening silences, vaginitis
			they fall in love with gays
			trichomonas, late-periods
			the telephone the telephone the telephone
			broken glasses and no one for an ambulance.
			They do whatever comes along.
			My friends are always on the move
			because you haven’t given them an inch.
			All my friends paint with black
			because you’ve debased the red for them
			they write in a symbolic tongue
			because your own’s only for ass-licking.
			My friends are blackbirds and wires
			in your hands. At your throat.
			My friends.
			
			</p3>

	<img src="" alt="">
	<a href="/">Home</a>
	<a href="/about"> About </a>
</body>
</html>